<html>
  <head>
    <style type="text/css">
      body {
        /*background: black;*/
        color: white;
      }
    </style>
  </head>
  <body>
    <{% if results %}
        <table>
            <tbody>
              <tr>
              {% for name in results %}
                  <td><img src={{name}}></td>
              {% endfor %}
              </tr>
            </tbody>
        </table>
      {% else %}
          No results :(
      {% endif %}

    <video controls src="static/image3-modified.webm" type="video/webm" autoplay loop>
      <p>Your browser does not support the video element.</p>
    </video>
  </body>
</html>